<div class="container text-center">

<div id="<%= dom_id tweet %>">
  
  <h5 class="card-title">  <%= tweet.userName %> </h5>
          <p class="card-text"><%= tweet.description %></p>
</div>

</div>
