<h1 class="text-center">EDITAR MY PAJARRACO</h1>
<div class="container text-center">



<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Regresar al Pajarraco", @tweet %> 
</div>
</div>
